@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{
	margin: 0px; /*Unir las divisiones a la página web, si no se pone, queda una pequeña separación.*/
	width: 100%; /*Ancho usado en la pantalla*/
	min-width: 600px;
	max-width: 2000px;

	font-family: 'Raleway';
	font-style: normal;
  	font-weight: 400;
}

body li
{
	list-style: none;
}

#header-framework{
	position: sticky;
}

#header-framework, #content-framework{
	width: 95%;
	max-width: 1000px;
	margin: auto; /*Centrar todo*/
}

/* Parrafos con el contenido.*/
.content-front p{
	margin-bottom: 20px; /*Espacio entre parrafos*/
}

/* Menu.*/
#header-framework nav {
	background: #3498db;
	margin-bottom: 10px;
}

	#header-framework nav ul{
		list-style: none;
		overflow: hidden;
	}

		#header-framework nav ul li{
			float: left; /*Cada uno a la derecha*/
		}

			#header-framework nav ul li a{
				display: block;
				padding: 20px;
				color: #fff;
				text-decoration: none;
			}
				#header-framework nav ul li a:hover{
					background: #2980b9;
				}

#header-framework h1{
	padding-top: 20px;
}

#logoNode{
	position: fixed;
	margin: 20px;
}

code {
	background-color: #F9D3D2;
	color: #1C2833;
	font: bold 90% monospace;
}

#content-framework{
	clear: both;
	display: block;
	width: 60%; /*Ancho de los elementos hasta la mitad de la pantalla*/
	margin-bottom: 10px;
	padding: 10px; /*Separación entre el texto y la linea del input*/
	border: 0; /*Le quitamos el borde*/
	background-color: #efefef;
	/*color: #666666;*/
}

.autor {
	justify-content: center;
	display: inline-block;
	padding: 0 20px 0 0;
}

#content{
	width: 600px;
	text-align: left;
}
/*propiedades de la tabla donde va el codigo*/
#comando{
	width: 600px;
	height: 50px;
	border: black 1px solid;
	border-radius: 5px;
}

#comando td{
	font: bold 90% monospace;
}

#Indice{
	position: fixed;
	/*float: left;*/
	top: 15%;
	width: 200px;
	height: 250px;
	border: black 1px solid;
	border-radius: 5px;
	margin: 20px;	
	display: inline-block;
}

#Comentarios{
	display: flex;
	position: fixed;
	right: 0%;
	top: 15%;
	width: 400px;
}

#Introduction{
	position: relative;
}

#FirstPoject{
	position: relative;
}

#RunProject{
	position: relative;
}

#IntegratedTerminal{
	position: relative;
}

#Debugging{
	position: relative;
}

#Express{
	position: relative;
}

#GreatCode{
	position: relative;
}

#DebugExpress{
	position: relative;
}