html, body {
	margin: 0px;
    padding: 0px;
	padding-left: 3%;
	padding-right: 3%;
}


/* Titulo de la pagina */

h1 {
	font-family: 'Solway', cursive;
	margin-top: 30px;
	margin-bottom: 100px;
	color: #2f8ddb;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 
		1px 1px 1px #383838,
		1px 2px 1px #383838,
		1px 3px 1px #383838,
		1px 4px 1px #383838,
		1px 5px 1px #383838,
		1px 6px 1px #383838,
		1px 7px 1px #383838,
		1px 8px 1px #383838,
		1px 9px 1px #383838,
		1px 10px 1px #383838,
		1px 18px 6px rgba(16,16,16,0.4),
		1px 22px 10px rgba(16,16,16,0.2),
		1px 25px 35px rgba(16,16,16,0.2),
		1px 30px 60px rgba(16,16,16,0.4);
}

/* Subtitulo de la pagina */
h2 {
	text-align: left;
	margin-top: 3%;
	font-family: 'Solway', cursive;
	color: #e67e22;
	font-weight: bold;
	margin-bottom: 3%;
	font-size: 30px;
	text-shadow: 
		2px 1px black,
		3px 2px black;
}

/* Texto de la pagina */

p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-justify: inter-word;
}

li {
	font-family: "Times New Roman", Times, serif;
	text-justify: inter-word;
}

footer {
	border: 3px;
	border-color: #2f8ddb;
	border-radius: 10px 10px;
	border-style: outset;
	padding: 0px 15px 15px 15px;
	background-color: #2f8ddb;
	margin-top: 40px;
	margin: auto;
  	width: 280px;
}

footer h2 {
	text-align: center;
	margin-top: 3%;
	font-family: 'Solway', cursive;
	color: #e67e22;
	margin-bottom: 40px;
	font-size: 30px;
	text-shadow: 
		2px 1px black,
		3px 2px black;
}

footer p {
	color: white;
	font-weight: bold;
}


/* Video tutorial */
#video_tutorial {
    width: 99.9%;
    background: blue;
	position: relative;
	display: block;
}

/* Boton para que de vueltas*/
#boton_vueltas {
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
	text-decoration: none;
    background-color: #1D3782;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 80px;
	display: block;
	width: 150px;
	height: 50px;
	color: white;
}


#boton_vueltas:link, #boton_vueltas:visited {
	border-style: outset;
	border-color: #1D3782;
}

#boton_vueltas:hover {
    border-style: inset;
	border-color: #1D3782;
}

picture{
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	width: 30%;
}

picture img{
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	width: 100%;
}

/* Cuando el tamaño de la pantalla sea de 900px o menos */
@media screen and (max-width: 900px) {
	h1 {
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	h2{
		font-size: 25px;
	}

	p {
		font-weight: normal;
	}

}

/* Cuando el menu esta arriba y esta desplegado en vertical */
@media screen and (max-width: 500px) {
	h1 {
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
	}

	h2{
		font-size: 20px;
	}

	footer {
		width: 200px;
	}

}

@keyframes rotar {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
