*{
	margin: 0px;
	padding: 0px;
}

html, body { 
	height: 99%;
	width: 100%;
}

body {
	background-image: url("../imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(250,250,250);
	display: flex;
	flex-direction: column;
}

/* El elemento que contiene el embed */
main{
	margin: 0px;
	padding: 0px;
	flex-grow: 1;
}

/* Este embed tiene el tamaño preparado cuando el menu esta a la izquierda */
embed {
	margin-left: 25%;
	width: 74.9%;
	height: 100%;
	padding: 0px;
}

/* El menu completo */
#menu_completo {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	background-image: linear-gradient(to bottom, rgba(44,44,44,1) , rgba(44,44,44,0.5));
	position: fixed;
	height: 100%;
	overflow: auto;
	background-color: rgb(57,104,235);
}

#menu_oculto {
	display: none;
	background-color: rgb(57,104,235);
}

#enlace_superior {
	background-image: linear-gradient(to top, rgba(44,44,44,1) , rgba(44,44,44,0.5));
	background-color: rgb(57,104,235);
}	

#menu_oculto li ul {
	display: none;
}

/* El texto del menu */
nav ul li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
    transition: all 0.3s linear;
    font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 25px;
}

/* Cuando se pasa el raton en el menu */
nav ul li a:hover {
	background-image: linear-gradient(rgba(57,104,235,1) , rgba(57,104,235,0.2));
}

/* Cuando el menu esta arriba pero no desplegado en vertical */
@media screen and (max-width: 900px) {
	#menu_completo{
		width: 100%;
		height: 63px;
		position: relative;
		background-image: linear-gradient(to right, rgba(44,44,44,1) , rgba(44,44,44,0.5));
	}
  
	#menu_completo li a {
		float: left;
		padding: 15px;
	}

		
	main{
		left: 0px;
		width: 99.9%;
	}

	embed {
		margin-left: 0px;
		margin-top: 0px;
		width: 99.9%;
		height: 100%;
	}
}

/* Cuando el menu esta arriba y esta desplegado en vertical */
@media screen and (max-width: 500px) {
	nav ul li a {
		text-align: center;
		float: none;
	}

	nav ul {
		background-image: linear-gradient(to bottom, rgba(44,44,44,1) , rgba(44,44,44,0.5));
		display: block;
	}

	main{
		width: 99.9%;
	}

	embed {
		width: 99.9%;
	}
	
	#menu_oculto {
		display: block;
	}

	#menu_oculto li:hover > ul{
		display: block;
		height: 244px;
	}
	
	#menu_completo{
		display: none;
	}
}

